body {
    background-color: rgb(255, 244, 244);
    font-size: 20px;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 0px;
    padding: 15px; */
    background-color: rgb(236, 234, 234);
    width: 100%;
    font-size: 20px;
    padding: 30px;

}

#fb {
    margin-bottom: 0px;
    box-sizing: border-box;
}

#one {
    padding: 15px;
    display: flex;
    margin-left: 10px;
    /* margin-right: -250px; */
    margin-top: 90pX;
    font-size: 19px;
    box-shadow: 5px;
    line-height: 20px;
    width: 50%;
    flex-direction: column;
    box-sizing: border-box;
}

#two {
    background: white;
    /* margin: 15px; */
    padding: 15px;
    margin-top: 50px;
    display: flexbox;
    border-radius: 7px;
    width: 300px;
    height: auto;
    margin-right: 60px;
    /* margin-left: -300px; */
}

form {
    padding: 10px;
    margin: 15px 0px;
    border-radius: 2px
}

input {
    width: 250px;
    height: 30px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid lightgrey;
}

button {
    width: 260px;
    margin: 5px;
    height: 35px;
    border-radius: 6px;
    border: none;
}

#forgot {
    text-align: center;
    font-size: 13px;

}

#PW {
    text-decoration: none;
}

#PW:hover {
    text-decoration: underline;
}

#create {
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

#acct {
    text-align: center;

}

#celeb {
    font-size: 15px;
    margin-top: 60px;
    cursor: pointer
}
@media screen and (max-width: 1024px) {
    #one {
        flex-direction: column;
        gap: 20px;
        display: flex;
    }
    #two {
        flex-direction: column;
        gap: 20px;
        display: flex;
    }
}
@media screen and (max-width:768px) {
    #wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
 
    
    }

  
}